<header class="main-header">
  <div class="logo-header" routerLink="/" routerLinkActive="active">
    <span class="icon-code">
      <!-- SVG -->
    </span>
    <span class="part-01">01</span><span class="part-blog">BLOG</span>
  </div>

  <nav>
    <ul>
      <!-- <li routerLink="/" routerLinkActive="active">Home</li> -->
      <li routerLink="/post" routerLinkActive="active">Creat-post</li>
      <li (click)="toggleNotification()">Notification ({{notificationCount}})</li>
      <li class="profile-menu">
        <div class="profile-btn" (click)="toggleProfileMenu()">
          <!-- <img class="avatar" src="assets/default-avatar.png" /> -->
           <p>profile</p>
        </div>

        <div class="profile-dropdown" *ngIf="showProfileMenu">
          <a [routerLink]="['/profile', service.id]">My Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>

    </ul>
  </nav>

  <!-- POPUP -->
  <div class="notification-popup" *ngIf="showNotifacation">
    <h3>{{notificationCount}} Notifications</h3>
    <ul>
      <li *ngFor="let noti of notifications">
        {{ noti.message }}
      </li>
    </ul>
    <button (click)="showNotifacation = false">Close</button>
  </div>
</header>