<div class="dashboard-container">
  <main>
    <section class="stats">
      <div class="stats-header"></div>

      <div *ngFor="let post of posts" class="post-card">
        <p (click)="getProfile(post.author.id)"><strong>{{ post.author.username }}</strong></p>
        <p><small>{{ post.createdAt | date: 'short' }}</small></p>

        <!-- 3 DOTS MENU -->
        <div class="post-menu" *ngIf="post.canEditAndDelet">
          <span class="dots" (click)="post.showMenu = !post.showMenu">⋮</span>

          <div class="menu-dropdown" *ngIf="post.showMenu">
            <p (click)="startEditing(post)">Edit</p>
            <p (click)="showpopap(post)">Delete</p>
          </div>
        </div>

        <div *ngIf="!post.isEditing; else editMode">
          <h4>{{ post.title }}</h4>
          <p>{{ post.content }}</p>
          <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post image" />

          <div class="post-actions">
            <button class="action-btn" (click)="likePost(post)">
              <span class="icon" [class.like]="post.like">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none"
                  stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M20.8 7.3c0 5.1-8.8 11-8.8 11S3.2 12.4 3.2 7.3A4.6 4.6 0 0 1 7.8 2.7c1.8 0 3.1 1.1 4.2 2.3 1.1-1.2 2.4-2.3 4.2-2.3a4.6 4.6 0 0 1 4.6 4.6z" />
                </svg>
              </span>
              <span class="count">{{ post.countLike}}</span>
            </button>

            <button class="action-btn" (click)="toggleComments(post)">
              <span class="icon">💬</span>
              <span class="count">{{ post.countCommets}}</span>
            </button>
          </div>


          <div class="modal-overlay" *ngIf="post.showConfirm">
            <div class="confirm-modal">
              <h3>Confirmation</h3>
              <p>are you sure you want to remove this post </p>
              <div class="modal-actions">
                <button class="btn cancel" (click)="showpopap(post)">Cancel</button>
                <button class="btn confirm" (click)="deletePost(post)">Confirm</button>
              </div>
            </div>
          </div>


          <div *ngIf="post.showComment" class="comment-section">
            <div *ngFor="let comment of post.comment" class="comment-card">
              <p>
                <strong (click)="getProfile(comment.userId)">{{ comment.username }}</strong>
                <small>{{ comment.createdAt | date: 'short' }}</small>
              </p>
              <p>{{ comment.content }}</p>
            </div>

            <div class="add-comment">
              <input type="text" [(ngModel)]="post.newComment" placeholder="Write a comment..." />
              <button (click)="addComment(post)">💬 Post</button>
            </div>
          </div>
        </div>

        <ng-template #editMode>
          <div class="edit-form">
            <input type="text" [(ngModel)]="post.editTitle" placeholder="Edit title" />
            <textarea [(ngModel)]="post.editContent" rows="4" placeholder="Edit content"></textarea>

            <div class="edit-image-box">
              <label class="upload-label">
                Change Image
                <input type="file" accept="image/*" (change)="onImageSelected($event, post)" hidden />
              </label>

              <img *ngIf="post.previewImage" [src]="post.previewImage" class="preview-image" />
              <img *ngIf="!post.previewImage && post.imageUrl" [src]="post.imageUrl" class="preview-image" />
            </div>

            <div class="edit-actions">
              <button class="save-btn" (click)="savePost(post)">Save</button>
              <button class="cancel-btn" (click)="cancelEditing(post)">Cancel</button>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="pagination">
        <button (click)="changePage(page - 1)" [disabled]="page === 0">⬅ Prev</button>
        <span>Page {{ page + 1 }}</span>
        <button (click)="changePage(page + 1)">Next ➡</button>
      </div>
    </section>

    <section class="recent-activity">
      <h2>Suggested for you</h2>
      <div class="search-box">
        <input type="search" id="search-input" name="input" placeholder="Search..." [(ngModel)]="input">
        <button type="submit" (click)="serch()">Search</button>
      </div>

      <div class="suggested-list">
        <div *ngFor="let user of suggested" class="suggested-user">
          <div class="user-info" (click)="getProfile(user.id)">
            <div class="avatar">
              <img *ngIf="user.imageUrl" [src]="user.imageUrl" alt="{{ user.username }}" />
              <span *ngIf="!user.imageUrl">{{ user.username.charAt(0).toUpperCase() }}</span>
            </div>
            <span>{{ user.username }}</span>
          </div>
          <button class="follow-btn" [class.following]="user.followed" (click)="toggleFollow(user)">
            {{ user.followed ? 'Following' : 'Follow' }}
          </button>
        </div>
      </div>
    </section>

  </main>
</div>