<div class="register-container">
  <div class="register-box">

    <!-- Logo -->
    <div class="logo logo-style-1">
      <span class="icon-code">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="16 18 22 12 16 6"/>
          <polyline points="8 6 2 12 8 18"/>
        </svg>
      </span>
      <span class="part-01">01</span><span class="part-blog">Blog</span>
    </div>

    <h2 class="register-title">Create an Account</h2>

    <!-- Form -->
    <form>

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          [value]="username()"
          (input)="username.set($event.target.value)" />
          @if (errUsername()){
        <p class="text-danger">{{ errUsername() }}</p>
        }
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          [value]="email()"
          (input)="email.set($event.target.value)" />
         @if (errEmail()){
        <p class="text-danger">{{ errEmail() }}</p>
        }
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          [value]="password()"
          (input)="password.set($event.target.value)" />
          @if (errPassword()){
        <p class="text-danger">{{ errPassword() }}</p>
        }
      </div>

      <!-- Submit -->
     <button type="button" class="register-btn" (click)="onRegister()">Register</button>

    </form>

    <p class="login-text">
      Already have an account?
      <span class="login-link" (click)="goTologin()">Log In</span>
    </p>

  </div>
</div>
